{% extends "app/layout.html" %}

{% load static %}

{% block content %}

<p>
    <strong>Основы таргетированной рекламы</strong>
</p>
<div style="display: flex; justify-content: center;">
    <VIDEO src="/media/2.mp4" controls="controls" width="600" height="400" poster="/media/2.png"></VIDEO>
</div>
<br />
<p>
    <strong>Отличие контекстной рекламы от таргетированной</strong>
</p>
<div style="display: flex; justify-content: center;">
    <VIDEO src="/media/1.mp4" controls="controls" width="600" height="400" poster="/media/1.png"></VIDEO>
</div>

{% endblock %}